body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size:  9em;
    color: black;
}